body {
    background: url("../images/sw_bg.png");
    background-repeat: repeat;
}

.headerStyle {
    background: rgb(22, 22, 22) !important;
    color: ghostwhite !important;
}

.rowStyle {
    background: gray;
    color: ghostwhite !important;
    /* margin-top: 25px; */
}

.imgStyleFighter {
    margin: 0 15px;
    height: 110px;
    width: 110px;
    opacity: 1;
    border: 0;
}

.imgStyleFighter:hover {
    border: 5px solid greenyellow;
}

.selectedFighter {
    border: 5px solid greenyellow;
}

.imgStyleEnemy {
    margin: 0 15px;
    height: 110px;
    width: 110px;
    opacity: 1;
    border: 0;
}

.selectedEnemy {
    border: 5px solid red;
}

.imgStyleEnemy:hover {
    border: 5px solid red;
}

.blockedFighters {
    opacity: .4;
}

@media screen and (max-width: 768px) {
    .imgStyleFighter {
        height: 5px;
        width: 5px;
    }
    .imgStyleEnemy {
        height: 5px;
        width: 5px;
    }
}