body {
    background: url("../images/sw_bg.png");
    background-repeat: repeat;
}

.headerStyle {
    background: rgb(22, 22, 22) !important;
    color: ghostwhite !important;
}

.rowStyle {
    background: gray;
    color: ghostwhite !important;
    /* margin-top: 25px; */
}

.imgStyleFighter {
    margin: 0 15px;
    height: 110px;
    width: 110px;
    /* border: 5px solid rgb(0, 59, 0); */
}

.imgStyleFighter:hover {
    border: 5px solid greenyellow;
}

.imgStyleEnemy {
    margin: 0 15px;
    height: 110px;
    width: 110px;
    /* border: 5px solid rgb(66, 1, 1); */
}

.imgStyleEnemy:hover {
    border: 5px solid red;
}